@using StockTrackingApp.Data
@model List<Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<h1>Hello</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <a asp-action="NewProduct" asp-controller="Category" class="btn btn-primary">Add Product</a>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName </td>
                <td>@item.Brand </td>
                <td>@item.CategoryID</td>
                <td>@item.Quantity </td>
                <td>
                    <a asp-action="DeleteProduct" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>

                    <a asp-action="UpdateProduct" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-success">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>